<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6797d/control/0/plot" value="false" />
    <add key="/lpc/nct6797d/control/1/plot" value="false" />
    <add key="/lpc/nct6797d/control/2/plot" value="false" />
    <add key="/lpc/nct6797d/control/3/plot" value="false" />
    <add key="/lpc/nct6797d/control/4/plot" value="false" />
    <add key="/lpc/nct6797d/control/5/plot" value="false" />
    <add key="/lpc/nct6797d/control/6/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/amdcpu/0/power/10/plot" value="false" />
    <add key="/amdcpu/0/power/11/plot" value="false" />
    <add key="/amdcpu/0/power/12/plot" value="false" />
    <add key="/amdcpu/0/power/13/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="104" />
    <add key="mainForm.Location.Y" value="198" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6797d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6797d/fan/0/plot" value="false" />
    <add key="/lpc/nct6797d/fan/1/plot" value="false" />
    <add key="/lpc/nct6797d/fan/2/plot" value="false" />
    <add key="/lpc/nct6797d/fan/3/plot" value="false" />
    <add key="/lpc/nct6797d/fan/4/plot" value="false" />
    <add key="/lpc/nct6797d/fan/5/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/temperature/5/plot" value="false" />
    <add key="/amdcpu/0/temperature/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/3/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/clock/9/plot" value="false" />
    <add key="/amdcpu/0/clock/10/plot" value="false" />
    <add key="/amdcpu/0/clock/11/plot" value="false" />
    <add key="/amdcpu/0/clock/12/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/amdcpu/0/expanded" value="true" />
    <add key="/lpc/nct6797d/fan/6/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAMv4cYTnafgNjxvKtk4i3c9ZVBhA4MD/Cgs/RhDrT6aD0+zcJCYQO6HV2ql7eyKYfSXXzOmhZDKYvXmuodPiWRDx46cNnRYlQdSXXjZxCt0LYZvtM3a6cA2iZu0dY6erJRDxj8+NnDynQti8i4ydvntC2G5mBk4AZ4JDm5wAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAPO/eITnafgNDwYg+HbzKYsKiMFw4P/sl/6MYCaDg+O03CQmCDvFsW97IpRd4HhHMhnKznFcOQsmnuA4Lwmm3sExfC+MreF46hpMjYjj/RKYOIej7TIY+4HDdwsYe4EDAD4yzKecAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAPO/eITnafgNDwYGBrdvN5+yqDCAwIH/s1/6MzJAgFu1ynVxGBsAkfeLnzAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAPO/eITnafgNDwa7KJdvN5+yqDCAwIH/s1/6M4JYCcX9LtNyk5hA7Ac6E136tieC2QIPJrnckUwGsxN657usnAURT9g632VeEkR9Qt4Cl/C9UL0FC1xOXYOoedAw3+V+CVTcYL6Lyf0jLDA2AMyIYPeQAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAPO/eITnafgND4cdT1y/3XzKosIAAgf+z37pzwhiaSjfcZ2Wm8QEYp/Yctu1b3simP3H/bbrHclkMHuFzA3XlbMg4iuEbrjOS4Koz3hy3TV8L1Tv4+uup65B1JyQv+F6vwQqbnzD1eT+ERYYGwCpuRLTkAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAPO/eITnafgNj4IGLcdvN5+yqDCAwIH/s1/6M4JYbioJjtNyk5hAbLlrSY592xPBbKm6VMc7kslg9jOfSseVsyDiad2VjvOSIOrL1lQ5hu+FsOM2VDmeugZRE2dZ6Xi/BCq+p8LR5P4RFhgbACnQm3SQAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAPO/eITnafgNDwYgeLTpKYsKiMFw4P/0l/6MDFBQpXJdHMYGAJWDWzkwAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAPO/eITnafgNDwYgeLTpKYsKiMFw4P/0l/6MYCZDg72NzxEWGPuOZDIThF3gMLk4Ecp2cNjSmcQEUyN98DU3jA0A9pNxjGAAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAPO/eITnafgNDwaGBvtHm56yqDCAwIH/01/6M4KZQPEqleviMDYA0kjU9DAAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAPO/eITnafgNDwaGB/ZHup+yqDCAwIH/WwUCGMFMBgGHdVOSmCDsBfZ92xOh7Af2dySToWwGh8nFCPEtnTD1DfavHqqxw9h2yxDmfLZAqAEAOrWQXYQAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAPO/eITnafgNDwYgONL9lEUFxGA48H+rQAAjAxRUqVwXh7EBgqQ++DAAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAPO/eITnafgNjxvHb7ke6X7KosIAAgf+bxUIYASxQOJVKtfFYWwAbzC2LjAAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAPO/eITnafgND8aCPS5Hup+yqDCAwIH/WwUCGMFMgSUuU3OTmGDs7u2JEPaD6S5R/4WEYWwAVMJRTEgAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAPO/eITnafgNDwYgONL9lEUFxGA48P+seQAjmOmwwXlabhITmN1ww7lveyKE7fDL+Y5kMoTN0Oi8chZUvCHCeV4SVD3DPufwvTC2svOpazA1B5zvl0DFHQycbZdB2QnLnL9bwOwSdgYARrv735wAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAJNtPsLzNPyGBwNDjNO3m09ZVBhA4MD/2S/9GcFMoPiU3CQmGLtreyKUHeWkJZUMZUc4OT5dLwBjAwCQ6w/8VAAAAA==" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEACsXi+V9Gn7D4/2K245/HjuxqDCAwIH/nzs/MYJYehkuTpsmJDGB2Nw2Lk6vvSHsmXNcnPoVIex6QVenc+EQtriDq5OcLoSt8dTFye4dhC13xtkp62simN3Q4Ox0ehdE3CPb2an0F0R8RbGz05M0iPjLBc5OACEW6/mcAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAFu27xzP0/AbHgwHbtlfO3KXRYUBBA78/ywXwQhmMlQ5pPgmMYGZC3gc7y5NgLCB6u/vTIGwHebYu8TFQ9gNu+3jI5Ih7A4Bx2c2SXA1p68lMkHNtF+8FqpmB4fjHqlEuJkyq5Ph5gAAVzdkj5wAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGu9fZLnafgND4aenY7flz9iUWEAgQP/T1sHM4KZCa8cF85OYgKzZ5g7Hq5LgLAX9DgemJQCYWfYOzrGxUPYJ/QdTxQkQ9gOMo51KklwNVeuJULYOzgcF62FqlnA47hdKhFuvthqqPiNMEcAHJsUXJwAAAA=" />
    <add key="/amdcpu/0/clock/11/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg+uuPCcWFQYQOPDf9P8nRhDrRn2jq2xWEhOIfWd1k2tDEYR9y73JtV8Rwl6wuc71XDiEfY+/2VVOF6q+ssnV7h2EveR+vWvW10Qw+35xs+vpXVD1js2upb8S4ewnaRDx20DzAc8xC6CcAAAA" />
    <add key="/amdcpu/0/power/12/values" value="H4sIAAAAAAAEACsXi+V9Gn7DQ1UpymFXnhOLCgMIHPhv+v8TI4g15c0MB9msJCYQu+dXlkNDEYS9JKHJoV8Rwvb/3eVwLhzC/pXZ6CCnC2H/Fkh0sHsHYVcuj3XI+poIZp8o9HQ4vQsibsZQ5FD6CyIu96La4UkaRJzpQJUDAL2sRxmcAAAA" />
    <add key="/amdcpu/0/clock/10/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg+uuPCcWFQYQOPDf9P8nRhCr4XOpq2xWEhOIfWd1k2tDEYLdrwhhL9hc53ouHMK+59jsKqcLVVPZ5Gr3DsJecr/eNetrIph9v7jZ9fQuhPrSXxDxnuRK1ydpEPHb7k2uAEiVkM6cAAAA" />
    <add key="/amdcpu/0/power/11/values" value="H4sIAAAAAAAEACsXi+V9Gn7DQ/biRftdeU4sKgwgcOC/6f9PjCCWwRttB9msJCYQOzuf1aGhCMKe/ZjVoV8Rws4QZXU4Fw5hc2VyOsjpQtjPrv2zt3sHYaf/YnbI+poIZrv6/rQ/vQsifvcAk0PpL4h4zGImhydpEHHjy9wOAOUQcUecAAAA" />
    <add key="/amdcpu/0/clock/9/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg+uuPCcWFQYQOPDf9P8nRhBr1v4aV9msJCYQ+87qJteGIgj7dmWTa78ihL1gc53ruXAI+55js6ucLlQ9UI3dOwh7yf1616yviWD2/eJm19O7EOpLfyXC2U/SoOa7N7kCAF8g4UCcAAAA" />
    <add key="/amdcpu/0/power/10/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI0Hllf2uPCcWFQYQOPDf9P8nRhDLp1XIQTYriQnEFljN4NBQBGE/D2Z26FeEsG9//Gd/LhzCfuzA7iCnC2HbXWd0sHsHYV9PY3bI+poIZr88/cP+9C6IuCfbT/vSXxBxxrDv9k/SIOK/PP7ZAwDlQEecnAAAAA==" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg+sMdycWFQYQOPA/XO0zI4g1a3+Nq2xWEhOIfWd1k2tDEYLdrwhhL9hc53ouHMK+59jsKqcLVVPZ5Gr3DsJecr/eNetrIph9v7jZ9fQuhPrSX4lw9pM0iPht9yZXAPSQqQucAAAA" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEACsXi+V9Gn7D40DcPfsZ7k4sKgwgcOB/uNpnRhDrzUQZB9msJCYQm9uIyaGhCMJeWsDm0K8IYbtsZHI4Fw5hN9mwOMjpQtgp+/7Y272DsJsvMzlkfU0EswV+/LI/vQsizqr2y770F0R8y7+f9k/SIOKnvzI5AAC0fDxinAAAAA==" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEACsXi+V9Gn7DY49EuusMdycWFQYQOPA/XO0zI4g1a3+Nq2xWEhOIfWd1k2tDEYLdrwhhL9hc53ouHMK+59jsKqcLVVPZ5Gr3DsJecr/eNetrIph9v7jZ9fQuhPrSXxDxnuRK1ydpEPHb7k2uAN+1AQacAAAA" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEACsXi+V9Gn7DIyjvsv0MdycWFQYQOPA/XO0zI4iV+lLZQTYriQnEvnjst31DEYR9L4DJoV8RwjaI/WF/LhzC5j3H6CCnC2FbfPhgb/cOwk73/mqf9TURzM468cb+9C6IuKLWe/vSXxDxVJcP9k/SIOIMAcwOAHYg9SicAAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEACsXi+V9Gn7D4+CXHNcZ7k4sKgwgcOB/uNpnRhBr1v4aV9msJCYQ+87qJteGIgS7XxHCnpBe5XouHMK+59jsKqcLVVPZ5Gr3DsJecr/eNetrIph9v7jZ9fQuhPrSXxDxx/NbXJ+kQc0Ur3IFAD6JPI6cAAAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEACsXi+V9Gn7DY1biDPsZ7k4sKgwgcOB/uNpnRhDr9CwBB9msJCYQO//JdfuGIgg788RL+35FCNuh5p39uXAIW0jonb2cLoT9IOaIvd07CDtR96x91tdEiJrnB+1P74KI/+k6aF/6CyIePGmn/ZM0iLi4xBV7AIUf9YycAAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEACsXi+V9Gn7D4wxDlesMdycWFQYQOPA/XO0zI4g1a3+Nq2xWEhOIfWd1k2tDEYLdrwhhT0ivcj0XDmHfc2x2ldOFqqlscrV7B2EvuV/vmvU1Ecy+X9zsenoXQn3pL4h4SnGe65M0qJniVa4ARztWi5wAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEACsXi+V9Gn7DQyxogf0MdycWFQYQOPA/XO0zI4g1x0jLQTYriQnEniDP4NBQBGG33mJz6FeEsI3uMDmcC4ewlaOYHOR0IewpB6/b272DsA9pv7HP+poIZmstum1/ehdEXHPDGfvSXxDxe3OO2z9Jg4h3C323BwDQ943fnAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEACsXi+V9Gn7D4wxDlesMdycWFQYQOPA/XO0zI4g1a3+Nq2xWEhOIfWd1k2tDEYLdrwhhP+RscT0XDmHfc2x2ldOFqqlscrV7B2EvuV/vmvU1Ea7m9C6E+tJfEPEpk6tdn6RBzbze7AoA2htBOJwAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEACsXi+V9Gn7Dw+nACvsZ7k4sKgwgcOB/uNpnRhDrmLGtg2xWEhOI/XSzpkNDEYR9ZLOwQ78ihG3GKu5wLhzCniMg5iCnC2HnyDI42L2DsB+t+2+f9TURzJ55gsHh9C6IeKHxG/vSXxDxmF/37Z+kQcTdjMQdADjZ8b2cAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg+sMdycWFQYQOPA/XO0zI4h1o77RVTYriQnEvrO6ybWhCMHuV4SwH3K2uJ4Lh7DvOTa7yulC1VQ2udq9g7Afz29xzfqaCFdzehdCfemvRLiaJ2lQM683uwIAdA6t35wAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEACsXi+V9Gn7Do+rhP/sZ7k4sKgwgcOB/uNpnRhBLzobXUTYriQnEzm2TcmwogrC/OIs59itC2NNUORzPhUPY6x5wOcrpQtj8r2Qc7d5B2GYRSo5ZXxPBbD1rZsfTuyDij468dyj9BRE/Eczg+CQNIn5Wi8ERAABRLZKcAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg2uTghOLCgMIHPif6/uZEcS6Ud/oKpuVxARi31nd5NpQhGD3K0LYDzlbXM+FQ9j3HJtd5XShaiqbXO3eQdhTJle7Zn1NBLPvFze7nt6FUF/6KxGu5kka1Mzrza4Aj7zVO5wAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEACsXi+V9Gn7Do3jKefsmBScWFQYQOPA/1/czI4hlsLTCQTYriQnEPsxS7dBQBGEf2hnt0K8IYSeeL3I4Fw5h/xbPcJDThbDjZgU62L2DsPfeVnHI+poIZgtyWTic3gURv75GzaH0F0R8z1EZhydpEPFV29MdAPqTbVucAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg2uTghOLCgMIHPif6/uZEcS6Ud/oKpuVxARi31nd5NpQhGD3K0LYDzlbXM+FQ9j3HJtd5XShaiqbXO3eQdiP57e4Zn1NBLPvFze7nt6FUF/6CyL+KLfF9Uka1Mzrza4AugEi9ZwAAAA=" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEACsXi+V9Gn7DQ2cFk0OTghOLCgMIHPif6/uZEcQS6jjjIJuVxARiix6+7NBQBGGrhF136FeEsO/8YHY8Fw5hl2dwOMrpQtgdeqcd7N5B2GuOz3bI+poIZv/e+tDh9C6IeJLMC4fSXxBxO487Dk/SIOIVmUyOAPyj7YWcAAAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEACsXi+V9Gn7Dgz9njWPqT0cWFQYQOPC/q+QzI4jlssDISTYriQnEZnFScmoogrDneSk59StC2M/C1ZzOhUPYXcHqTnK6EPa6ixJOdu8g7C+mwk5ZXxPB7DpXQafTuyDivi0CTqW/IOJLswWcnqRBxDONFJ0AywLx1JwAAAA=" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEACsXi+V9Gn7Do29OtVPqT0cWFQYQOPC/q+QzI4iVVbjQSTYriQnEXnx3tlNDEYRtlDPXqV8RwjZbs8DpXDiErSG+yElOF8K2ejTXye4dhH3UZp5T1tdEMHvp8RlOp3dBxPvWTnUq/QURN1ea6vQkDarXabYTAGSbz6CcAAAA" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="H4sIAAAAAAAEACsXi+V9Gn7Dg4Ehwcn7kiOLCgMIHPi/ZPZnRjDTocRJNiuJCcJOdmoogrIPpDj1KyLY58Jh7FgnOV0omyHdye4dTDzGKetrIpQd73R6F0xNslPpL6i4Q6rTkzSYeK4TAH7JPNucAAAA" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEACsXi+V9Gn7Dg+GAnpP3JUcWFQYQOPB/yezPjGDmgiYn2awkJjD7QaNTQxGUndDo1K8IZTe0OJ0Lh7IdWpzkdBHidu+g7APNTllfE+HmnN4FE692Kv0FFXdodHqSlgRnAwAkX8vRnAAAAA==" />
    <add key="/amdcpu/0/temperature/3/values" value="H4sIAAAAAAAEACsXi+V9Gn7DgyHB3cn7kiOLCgMIHPi/ZPZnRgizxkk2K4kJzG4odmoogrIPFDv1K0LZD8qczoVD2QrFTnK6UDZDhZPdO5h4kVPW10So3kKn07ug4gn5TqW/oOIPip2epMHML3cCADxVe1WcAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="H4sIAAAAAAAEACsXi+V9Gn7Dg4Ehwcn7kiOLCgMIHPi/ZPZnRjBzQZOTbFYSE5j9oNGpoQjKTmh06leEshtanM6FQ9kOLU5yughxu3dQ9oFmp6yviXBzTu+CiVc7lf6Cijs0Oj1JS4KzAdVtYkmcAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEACsXi+V9Gn7DgyEhx8n7kiOLCgMIHPi/ZPZnRjBToclJNiuJCcye0OPUUARlf2hz6leEshOanc6FQ9kPmp3kdKHsBc1Odu+g7IZmp6yviRD2hian07tg6hudSn9BxQ80Oj1Jg4o7NDkBADXmpx+cAAAA" />
    <add key="/amdcpu/0/load/12/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx5Q1DfaHbtqyqDCAwIH/plO+M4JYHkHfHQwnJjGBhRusHRqKoGyGKod+RRh7msO5cCjbodlBThcm/sve7h2M7eGQ9TURyj5hf3oXwszSX4lwc56kIcwBAEaEKp2cAAAA" />
    <add key="/amdcpu/0/load/11/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh/8Db8dDN21ZVBhA4MB/0ynfGUEsHuFpjoYTk5jAwg3Wjg1FEPaPz5mO/YpQ8QU9jufCYWpyHeV0oewHQo5272BqVB2zviZC2AcOOpzehTCz9BdUfEG445M0qLiDnyMA+k05CJwAAAA=" />
    <add key="/amdcpu/0/load/10/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR5Iit/2hm7YsKgwgcOC/6ZTvjCCWkOUkB8OJSUwgNlOokkNDEYR94pyoQ78ihJ1z8Zf9uXAIe4lCiIOcLoTtc26avd07qHojMYesr4lgtoK1u/3pXRBxBoaH9qW/EqHsafZP0qDiDZwOAMfdBSucAAAA" />
    <add key="/amdcpu/0/load/9/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR5Jit/2hm7YsKgwgcOC/6ZTvjCDWn8kKDoYTk5jAwgzr7RuKYOxf9v2KMPYJ+3PhMPY0ezldhLjdOxhbzCHrayKYvSdjmv3pXXA1dqW/EqFsD/snaQhxAB73vU+cAAAA" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR5Jit/2hm7YsKgwgcOC/6ZTvjCDWHbMpDoYTk5jAwg1KDg1FUDbDQ/t+RRhbzOFcOIz9y15OF6HG7h1Cb9bXRKj4NPvTu2BqquxLf8HEPeyfpMHE9R0AGmGYApwAAAA=" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh/CmC/aHbtqyqDCAwIH/plO+M4JYhz4ccjCcmMQEYl/IPmHfUARhn/DjdOhXhLBFrI/bnwuHsLv+JzrI6ULYE+Y+sLd7B2EzMEyzz/qaCGY7sHnYn94FEz9hX/orEca2e5IGExdzAADqibY4nAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx+7tBfaLNtmyqDCAwIH/obu/M4JYr36ecjCcmMQEYr/bGuLQUARhMzR0OvQrQtkH+h3OhUPY1d9XOMjpQtg53KIOdu8gbAXmX/ZZXxPB7CA/LofTu6B6GU7Yl/6CiCuc9rB/kgYRn/bU2gEAn9YXPJwAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh/CmAPtFm2xZVBhA4MD/0N3fGUEsj6DvDoYTk5jAwgzTHBqKoOwDtxz6FSHsEw5zHM6Fw9Q8dJDThbIblBzs3sHYuQ5ZXxPB7DgTfYfTuxBqSn9BxCeknrB/kgYzf4UDAM+b2yCcAAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR416k/2iTbYsKgwgcOB/6O7vjCBWfZm8o+HEJCawsAOzY0MRhD2t+LlDvyKEnSJ5wuFcOITN2MXmKKcLYddprnSwewdhKxxe4ZD1NRGifnm/w+ldUDMZPBxKf0HEGRqUHJ6kwcx86AAAFy7H2pwAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR1/fNIdFm2xZVBhA4MD/0N3fGUEs0Z3mToYTk5hAbBtdR6eGIgjbbqG9U78ihH1ymZbTuXAIe1q8rpOcLoR957yzk907CJvhhIdT1tdEMHvHFymn07ug4hJCTqW/IOLdxySdnqRBxJU5pJwATPH7PJwAAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx09HeYdFm2xZVBhA4MD/0N3fGUGszzFTHA0nJjGBhRs6HRuKoOwNjY79ilC2QoPjuXAI+8+lKkc5XQjbPyfMUfM4TO9bh3oZKNtBxvH0Lij7gZBj6a9EMDtFfavDkzSIeNKNZkcA5sD4o5wAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh5zcEYdFm2xZVBhA4MD/0N3fGcFMB2Ynw4lJTCAmIz+DU0MRhM0wg9WpXxHC7rfScjoXDmH/fm/sJKcLYX+79dlR8zhU/dNtjvUyELZtFafT6V1Q8RvcTqW/EiHsB98cn6TBxFWcAEG7tv+cAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh0+EmcOiTbYsKgwgcOB/6O7vjCDWnEsxjoYTk5hA7COXTB0biiDsGyp2jv2KEDZzurPjuXAIe+YtH0c5XQh7coOCo907CDuJX9wx62simF2QyOV4ehdEnOEHn2PpL4i42202xydpEHGfdFNHAIJXCkucAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEACsXi+V9Gn7DIyxrp+Ofx04sKgwgcOD/585PjCDWT/Emx00TkphAbF2TJsfX3hB21bdGx35FCPvE6kbHc+EQNlNfo6OcLoQte6LR0e4dhL2puskx62simM2ypsnx9C6I+KSdTY6lvyDiFluaHJ+kQcT9pjc5AgA0+jd1nAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEACsXi+V9Gn7DwzSGx/HPYycWFQYQOPD/c+cnRhDrHUO146YJSUwgdtuJKsfX3hD2a+dqx35FCDvgZrXjuXAI+7ZIjaOcLoS9bEG1o907CLvGssox62simH3zRqXj6V0Q8d17Kx1Lf0HE809UOj5Jg4i7MFU5AgAInxABnAAAAA==" />
    <add key="/lpc/nct6797d/control/4/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR3SUl1OPzn1mFQYQOPA/2zGMCcTavy/O6U7TdXEYGwA0ytc3MAAAAA==" />
    <add key="/lpc/nct6797d/control/3/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR3SUl1MJ631mFQYQOPC/OSOMCcTavy/O6U7TdXEYGwCDA1OvMAAAAA==" />
    <add key="/lpc/nct6797d/control/2/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR3SUl1MJ631mFQYQOPC/OSOMCcTavy/O6U7TdXEYGwCDA1OvMAAAAA==" />
    <add key="/lpc/nct6797d/control/1/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh7l5t1MJ631mFQYQOPC/OSOMCcQyN5/vZDgxCcyWlFzv1FAEYUdHHXCq+ZUIZqekrHJ6WAcRz8pc6XRMQJ0dxt45GSJ+984yp3bFJLiZJ+wRbAD8pn1jhAAAAA==" />
    <add key="/lpc/nct6797d/control/0/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR3SUl1PsvXvMKgwgcOD/rP4wJhBr/744pztN18VhbACUiAbZMAAAAA==" />
    <add key="/lpc/nct6797d/fan/6/values" value="H4sIAAAAAAAEAIt+H8P7NPyGBwMQ2G+/x6wCYjAc+L9jWxgTiPVSosfFcGISmJ0c1+PSUARh37rX5VLzKxHMtjDpcXlYBxH3OtDlIqcLVbOqy0XzOIR970WXS70MhC2o0+OyczKEveNal0u7IoS9+E6Pywl7CHtfdrcLAAdif/qcAAAA" />
    <add key="/lpc/nct6797d/fan/5/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR0uEt4v99nvMKgwgcOD/jm1hTCDWt7W5LoYTk8DsIqdcl4YiCPvc9lyXml+JYLYac57LwzqI+AnnPBc5XQj7fniui+ZxCDv7ba5LvQyELbw2x2XnZAj7e2+uS7sihM2Tkudywh7C/nE21wUAv8GnnZwAAAA=" />
    <add key="/lpc/nct6797d/fan/4/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh7VKhIv99nvMKgwgcOD/jm1hTCCW1OpaF8OJSWD24cpal4YiCPvFqlqXml+JYLaMSq3LwzqIuMiLWhc5XQj7ikqdi+ZxCHuSYZ1LvQyEPe18rcvOyRC2GtD8dkUIO7m9zuWEPYT9varOBQD2buPanAAAAA==" />
    <add key="/lpc/nct6797d/fan/3/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh12Gt4v99nvMKgwgcOD/jm1hTCDW5r4CF8OJSWB219ECl4YiCLucvdCl5lcimC02vdDlYR1E/IdjgYucLoT9ZFeBi+ZxBLteBsLeUlHgsnMyhH3DuNClXRHCPrmkwOWEPYS9U7bQBQDfj30enAAAAA==" />
    <add key="/lpc/nct6797d/fan/2/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR8c+Vxf77feYVRhA4MD/HdvCmECsaJ0sF8OJSWB2I2+WS0MRhK2mlOVS8ysRzP6lmOXysA4ivico00VOF8J+vCvTRfM4hG1xPtOlXgbCnjch02XnZAj73eYsl3ZFCDstLMvlhD2EXfMk0wUAzd2bUpwAAAA=" />
    <add key="/lpc/nct6797d/fan/1/values" value="H4sIAAAAAAAEAIt+H8P7NPyGB8OFeS722+8xqzCAwIH/O7aFMYFYhuyrXAwnJoHZUlrrXBqKIGyu2P0uNb8Swex7Dza7PKyDiH9avsFFThfCXnl9g4vmcQj74P4NLvUyEPYZoJqdkyHsDUA17YoQNu+zlS4n7CHsIzKrXACaW0PjnAAAAA==" />
    <add key="/lpc/nct6797d/fan/0/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR35ciIv99nvMKgwgcOD/jm1hTCCW3fwKF8OJSWB2xeQKl4YiCPvfzQqXml+JYPbWg+UuD+sg4vvYK1zkdCHsSU8rXDSPQ9hWqytc6mUgbIEP5S47J0PYS/5WuLQrQthyN8tdTthD2J1+FS4AyLk5oJwAAAA=" />
    <add key="/lpc/nct6797d/temperature/6/values" value="H4sIAAAAAAAEAIt+H8P7NPyGBwMDwwH77feYVRhA4MD/HdvCmBgg4MCdpuviMDYA96wbBzAAAAA=" />
    <add key="/lpc/nct6797d/temperature/5/values" value="H4sIAAAAAAAEAIt+H8P7NPyGBwNDiZP99nvMKgwgcOD/jm1hTGAmQ4XTnabr4jA2APVolGIwAAAA" />
    <add key="/lpc/nct6797d/temperature/4/values" value="" />
    <add key="/lpc/nct6797d/temperature/3/values" value="H4sIAAAAAAAEAIt+H8P7NPyGBwODnZP99nvMKgwgcOD/jm1hTGAmQ6qT4cQkKDvF6e5rNXYYW04XKt6Q5KR5HKYmyaleBsHeORmmJsGpXREmnuB0wh4hDgD9ttd0hAAAAA==" />
    <add key="/lpc/nct6797d/temperature/2/values" value="H4sIAAAAAAAEAIt+H8P7NPyGBwODipP99nvMKgwgcOD/jm1hTGAmg4GT7j81dhj7YV0SVNzQSU43Ca5mw43X3DA2AJ5StjhUAAAA" />
    <add key="/lpc/nct6797d/temperature/1/values" value="H4sIAAAAAAAEAIt+H8P7NPyGBwODhpP99nvMKgwgcOD/jm1hTGAmg4vTRuajLDB2za9EqLiz08O6JLgaOV0Y28Fpw43X3DA2ALOHPlFgAAAA" />
    <add key="/lpc/nct6797d/temperature/0/values" value="" />
    <add key="/lpc/nct6797d/voltage/14/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR2z/IXuNCfeYVRhA4MD/83fDmEAskLjhxCQw+9mFQ/YNRUlw8ZpfiWD2z+DD9g/rIOI/gGw5XYQazeMI8XoZCLtp6mH7nZMRatoVEeafsEeoAQCiyxT2nAAAAA==" />
    <add key="/lpc/nct6797d/voltage/13/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR7WInr3GhHvMKgwgcOD/+bthTCAWSPxO03VxGBsA+DMENzAAAAA=" />
    <add key="/lpc/nct6797d/voltage/12/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh2ZMv73GhHvMKgwgcOD/+bthTCCWX9IEe8OJSXB2QxGEfVRhgn3Nr0S4+PL+Tk4Ye+dkhJp2RQT7hD3CHAA85OpIeAAAAA==" />
    <add key="/lpc/nct6797d/voltage/11/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR+bEt3YaE+4xqzCAwIH/5++GMYFYTglP7e40XReHsQHpUHYFMAAAAA==" />
    <add key="/lpc/nct6797d/voltage/10/values" value="" />
    <add key="/lpc/nct6797d/voltage/9/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR3raM3uNCfeYVRhA4MD/83fDmEAskLjhxCQwu+rlM/uGoiS4eM2vRLj4wzqIOLP2c3s5XYQazeMQ9oflz+zrZSDsj0D2zskINe2KCPYJe4R6ALZ8Ky2cAAAA" />
    <add key="/lpc/nct6797d/voltage/8/values" value="" />
    <add key="/lpc/nct6797d/voltage/7/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx5e/IQ4aE+4xqzCAwIH/5++GMYFYIPE7TdfFYWwAR1lbGjAAAAA=" />
    <add key="/lpc/nct6797d/voltage/6/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx8FTivYaE+4xqzCAwIH/5++GMYFYqmyM9oYTk8BsLx4m+4YiCDtfiNl+SW4nJ4xdLwMRXzabxX7nZAh7pxyrvX/iERYYGwAdEYMebAAAAA==" />
    <add key="/lpc/nct6797d/voltage/5/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx5Ol0na8mfeYVRhA4MD/VyzhTCAW93VlO8OJSXB2QxGEfeiUol3Nr0S4+PqWDQIwNgAlAJSfVAAAAA==" />
    <add key="/lpc/nct6797d/voltage/4/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx52fdfa8mfeYVRhA4MD/VyzhTCDW9s+19huZj7LA2DW/EsHi72rq7R/WJYHZIL1yuklw9ZrHEex6GQj7VFmd/c7JCHH/xCNwMwGR90+ChAAAAA==" />
    <add key="/lpc/nct6797d/voltage/3/values" value="H4sIAAAAAAAEAIt+H8P7NPyGhx1XuANv5j1mFQYQOPD/FUs4E4i1yDXMwXBiEpgNUrP6Y4kojA0ACZsPVTwAAAA=" />
    <add key="/lpc/nct6797d/voltage/2/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx5e/IQ68mfeYVRhA4MD/VyzhTCAWSPxO03VxGBsAdje/GDAAAAA=" />
    <add key="/lpc/nct6797d/voltage/1/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx/bPtfa8mfeYVRhA4MD/VyzhTCAWSNxwYhKYfednnX1DEYT9rqbevuZXIpjNwNBg/7AOIS6ni2BrHkforZdJgqvfORkh3q4IYZ8sq7M/YY9QAwB+O0cRnAAAAA==" />
    <add key="/lpc/nct6797d/voltage/0/values" value="H4sIAAAAAAAEAIt+H8P7NPyGh/X99fafHO8xqzCAwIH/rDrhTCBW5sS19oYTk8Dsowob7BuKIGwboPqaX4lw8Yd1EPEjQLacLkK95nEI+/riDfb1MhD2DSB752SEeLsihJ3wdIP9CXsIG+QeAIf6F3ecAAAA" />
    <add key="/amdcpu/0/clock/12/values" value="H4sIAAAAAAAEACsXi+V9Gn7DI3Nbg+uuPCcWFQYQOPDf9P8nRhDrRn2jq2xWEhOIfWd1k2tDEYR9u7LJtV8Rwl6wuc71XDiEfY+/2VVOF6oeqMbuHYS95H69a9bXRDD7fnGz6+ldUPWOza6lvxLh7CdpUPPdm1wBspZOupwAAAA=" />
    <add key="/amdcpu/0/power/13/values" value="H4sIAAAAAAAEACsXi+V9Gn7D40H9e/tdeU4sKgwgcOC/6f9PjCCW23QrB9msJCYQu6hbwKGhCMI2Ypd26FeEsF9sEHc4Fw5l/xdzkNOFsKcocznYvYOwk3r5HLK+JoLZfpxsDqd3QcTvbeRzKP0FEdfTEHB4kgYR3xEh4QAAMFdDSpwAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6797d/control/5/values" value="H4sIAAAAAAAEAIt+H8P7NPyGR3SUl1OPzn1mFQYQOPA/2zGMCcTavy/O6U7TdXEYGwA0ytc3MAAAAA==" />
    <add key="/lpc/nct6797d/control/6/values" value="H4sIAAAAAAAEAIt+H8P7NPyGx7evpo49OveZVRhA4MD/bMcwJhCLi6vL8U7TdXEYGwBuDWDOMAAAAA==" />
  </appSettings>
</configuration>