<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6797d/control/0/plot" value="false" />
    <add key="/lpc/nct6797d/control/1/plot" value="false" />
    <add key="/lpc/nct6797d/control/2/plot" value="false" />
    <add key="/lpc/nct6797d/control/3/plot" value="false" />
    <add key="/lpc/nct6797d/control/4/plot" value="false" />
    <add key="/lpc/nct6797d/control/5/plot" value="false" />
    <add key="/lpc/nct6797d/control/6/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/amdcpu/0/power/10/plot" value="false" />
    <add key="/amdcpu/0/power/11/plot" value="false" />
    <add key="/amdcpu/0/power/12/plot" value="false" />
    <add key="/amdcpu/0/power/13/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="104" />
    <add key="mainForm.Location.Y" value="198" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6797d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6797d/fan/0/plot" value="false" />
    <add key="/lpc/nct6797d/fan/1/plot" value="false" />
    <add key="/lpc/nct6797d/fan/2/plot" value="false" />
    <add key="/lpc/nct6797d/fan/3/plot" value="false" />
    <add key="/lpc/nct6797d/fan/4/plot" value="false" />
    <add key="/lpc/nct6797d/fan/5/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/temperature/5/plot" value="false" />
    <add key="/amdcpu/0/temperature/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/3/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/clock/9/plot" value="false" />
    <add key="/amdcpu/0/clock/10/plot" value="false" />
    <add key="/amdcpu/0/clock/11/plot" value="false" />
    <add key="/amdcpu/0/clock/12/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/amdcpu/0/expanded" value="true" />
    <add key="/lpc/nct6797d/fan/6/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/4XT61nZAACxgVfXRzyk5jA7AOfXdgEOjlhbIcQqHjEJ5cHM6HsBx9drq2Esl+8dOk7nAhhX/jkssMUoeZZOYINAJMmfyh4AAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/4XT61nZACCG8dvuWZ0WErB2AB258qPJAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/4XT61nZICCjA5LKRgbABCMjKskAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/4XT61nZACBhhlODvlJTBD2ZqfJfMlwtmtnIoTNsMUpVhSqhmGz08UkmPpNTg4hCPEHM5Pg6q+thLGznPoOw8yJcNphCtO70elZOYy90wkANbFGl5wAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/4XT61nZACDHY4O+UlMEPYPR7V/vnww9rWVMPFljn2HE6HsaY47TGHifxyflcPYrE4A9SNwh2AAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/4XT61nZACDBkeH/CQmCLvD8c/yDQIwdt/hRKj4NMcdpgg1z8oRbABJ8rlgVAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOPg5z45P/KGBwPDgf9RefWMDGCwwN4hP4kJwm6wV/vnywdjX1sJE3ew7zucCGU/sN9hChd3eFYOYzM4AABpW7zIYAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAOPg5z45P/KGBwPDgf8lU+sZGYDAe4WBk3t+EhOIne9r5tTOlwxmXwayp71/xQ1j31gJUVO8wsxpwuFEMHvfV3+nHaYQ8Q9uGU5vyiFst1eZTgDOXQmEbAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAFMy4z45P/KGBwPDgf9RefWMDEBQ8qHP1T0/iQnEnhDc7drOlwxmBwDZ096/4oaxb6yEqAmQ7HadcDgRzN5wvtR1hylEvGB9mOubcgh7w7QQVwBW2J8vbAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAFMy4z45P/KGBwPDgf9RefWMDEAgIZ/k6p6fxARiP4jIdG3nSwazEyIzXae9f8UNY99YCVGTcDbTdcLhRDBbQ6LVdYcpRNxjxRTXN+UQ9ootU10B8H3OWmwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAFMy4z45P/KGBwPDgf9RefWMDBDgVtBhKQVjAwDET7MuJAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAFMy4z45P/KGBwPDgf9RefWMDGBg7eSen8QEYUc4tfMlQ9kpTj6diVB2lpPjOxi7wOllJ0x9qZNrCIxd6XR7Joxd63RjJYzd4GRSqMYOYwMA2aoJ1IQAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAAvm5j05P/KGBwPDgf9OB2oZGYCAMyXUOWlaEhOI7bYs3jn7OYQ9/3uis19nIpjdpZngbP0OwrZQTHT+0AlR4zA3wdkxBMJO/BrvfG8mhP3rW4Lz9ZUQ9v7+V06TD0P09p3Xct5qChG/l+Lg/Kocwt7iYOIMAI2tulWcAAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAAvm5j05P/KGBwPDgf/9H5sYGcCgyvntpUQmEKvh61xnQe8kCPtPu3PLP6g4Z55zsihUvL7d2fo/hH0gbLKzSwiEzfB5svMPS4j6A5M6ncumJEPEf/1yOmcBVZNn57zNFGpO3idn/bcQtkO5hAsAxCyv2ZwAAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAAvm5j05P/KGBwPDgf8brrQzMoBAnp3To0uJTGB2koOTqHcShM2i5tT7Dyr+ScPJ+x2UreDtZPMfqsbOzSmiGspWUnTq+Z8AYQdJOt09lwxhC5U7LXoF1buP3el6DFR98monl7dQdu8SJwDiOKMEnAAAAA==" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAFPS/HtifuQNDwaGA/+bt6gyMQDBMa4qR91pSWB2nXel47XTiWB23PRKx9apEPGCtZWOv+ZD2LJ7Kh3bVCBsD5tKR6NCCHuyQaXjmTQIW0an0jHiE8ScfwKljkErIeLmD3Id88wg7IAjOY4A31grkJAAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/5H5dUzMoBBpZN1fhIThN3kNJ0vGcpucbLvTISyW53iRWFq2p1uJMHYHU52ITB2p9O9mTB2l9OTlTB2o1PTYag5Da1Ou00Rep+UQ9kNHU4AUDqhZpwAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAHv/nOvk/MgbHgwMB/737qlnZAABgQUu7vlJTGD2iz0u7XzJEHbCcRefzkQI+8YZF8d3UPaCiy4vO6HqHa65uIZA2Qy3XG7PhLIX3HW5sRLKlnjoMuEwVK/EA5cdplBxgwcub8qh7IQHLgAp9HcKnAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIBAwWeJo+60JDCbIWCi47XTiRD2AUfH1qlQ8YRAx1/zoewLcx3bVKBshmmORoUw8RbHM2lQ9oPVjhGfIObs+7bAMWglVFyD3SnPDMoW2OsIAAktWBOQAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIAg5AWPk+60JDBb6IaY07XTiWA2Q4CzU+tUiDiDgK3Tr/lQ9g0VpzYVKDtDzcmoEMreYeV0Jg3Kloh1ivgENcfB1CloJVT8hIdTnhmErc1g7wQAH/sioZAAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIBg8XVTR91pSWA2Q4K847XTiRA2wy+H1qlQcYdzDr/mQ9kHih3bVKDsBeGORoUwvRaOZ9Kg7IYQx4hPUHMWqDoGrYSKBxx2zDODqel0BADI49FfkAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIDgRLaso+60JDCboWG3w7XTiRD2gRUOrVNh4lccfs2HshMCHdtUoGwHP0ejQij7wGeHM2kw9daOEZ+g5jwQcgxaCRUX6HbMM4OyFWodAcbHzQyQAAAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIBAQOGwg+60JDCbgSHR4drpRAi7IcShdSpC/Nd8KHuBnWObCpT9QNvRqBCm5oTDmTQoO8HCMeITzJy3DkErYerLHPPMYOo9HAGy2JfqkAAAAA==" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGICgr0HEQXdaEpjN0JDrcO10IoTNcMK+dSpMnNPh13wo+8AKhzYVhHqjQgT7TBqMreQQ8QlqzoF+h6CVUPEH2o55ZlD2AjtHAEljDouQAAAA" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGICgS2KHg+60JDCboWGRw7XTiVD2bofWqVDxAwcdfs2HsT87tKnA2CscjAoRas6kwcwJcYj4BDWHYb1D0EqouIOpY54ZlP1A2xEAauAqA5AAAAA=" />
    <add key="/amdcpu/0/load/9/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIBg374r9rrTksBshgZOh2unEyFshhN2rVOh4gz6Dr/mw9i/7NtUEOqNCmHiJ+zPpCHURHyCmVPlELQSpn63Q54ZlH3gswMAMvhl6ZAAAAA=" />
    <add key="/amdcpu/0/load/10/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIDgzbdUB91pSWA2Q4O1w7XTiRA2w0P71qkw8VyHX/OT4OJtKjD2L3ujQoTeM2kw8Wn2EZ+g5jSEOASthImfcMgzg7IPHHQAAFgo7UmQAAAA" />
    <add key="/amdcpu/0/load/11/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIDgbryYo+60JDCboeGtw7XTiRD2AyHH1qkwcSXHX/NhbE7HNhUo+8BBB6NCKJthvcOZNJj4CoeIT1BzFIwcg1Ymwdl5ZlD2Ah5HAEY4xIuQAAAA" />
    <add key="/amdcpu/0/load/12/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIBA4FyUg+60JDCbgeGE/bXTiVD2evvWqVDxBiWHX/Nhah7at6nA2NPsjQoh7C5ZToczaTDxKvuIT1BzGqwdglbCzOl0yDODsg/ccgAA3x1Yd5AAAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEABOs/n1ifuQNDwaGA/+nJKkzMYCAQ4eT7rQkCFuh2una6UQI+0GhU+tUqDhDodOv+VB2QoFTmwqU7ZDvZFQIZTfkOZ1Jg7IPVDhFfIKas6HZKWglVDygyynPDMp+0OIEAFthgAqQAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="H4sIAAAAAAAEABOs/n1ifuQNDwaGA/+nJKkzMYBBlZPutCQI+0Cu07XTiRC2Q6FT61SouEO+06/5UDZDnlObCpTdUOhkVIhQcyYNJl7iFPEJZk6ZU9BKmPn1TnlmUPaCBicAO6Iq0JAAAAA=" />
    <add key="/amdcpu/0/temperature/3/values" value="H4sIAAAAAAAEAFNf9PvE/MgbHgwMB/7XWaszMYCAQpaT7rQkCNsh3ena6UQI+0CGU+tUqDhDptOv+Ulw8TYVKPtBlpNRIZSdkOF0Jg2mJtMp4hPUHIU8p6CVMHOKnfLMoOwFpU4AmuAs45AAAAA=" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFNf9PvE/MgbHgwMB/7XWaszMYBAQ76T7rQkCPtArtO104kQtkOhU+tUqLhDvtOv+VA2Q55TmwpMPNfJqBCh90walN1Q4hTxCWZOmVPQSpiaeqc8Myh7QYMTAIPvhAiQAAAA" />
    <add key="/amdcpu/0/temperature/5/values" value="H4sIAAAAAAAEAFNf9PvE/MgbHgwMB/7XWaszMYDAgRQn3WlJUHaC07XTiRC2Q4JT61SYeJLTr/lQdkOyU5sKjJ3hZFQIZTMkO51Jg7HjnSI+Qc1hSHMKWgkVd0hzyjODqclyAgD1kSrkkAAAAA==" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFNf9PvE/MgbHgwMB/7XWaszMQBBW/Y8J91pSWB2ZvN8p2unE8HsCv7ZTq1TIeKpt2Y7/ZoPYTPMm+3UpgJh8wTNcDIqhLAF0mc7nUmDsCfsn+0U8QlqTtFMp6CVEPGEryuc8swg7GjNRU4A6kObDJAAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAFNf9PvE/MgbHgwMB/7XWaszMQDBFEsxJ91pSWD2n6tiTtdOJ4LZjTECTq1TIeIZgcJOv+ZD2KyvRJzaVCDslT1CTkaFEPa2UGGnM2kQ9pMaYaeITxBzNspIOwWthIiHSFs55ZlB2IWKmk4AAyMgRJAAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgACk4ebHXSnJYHZrdYXHa6dTgSznULmObROhYjvO7zW4dd8CHtZ5UGHNhUI2/XBEQejQgjbY+VChzNpEPas09McIj5BzBFou+QQtBIqvvOOQ54ZhH2Kc4sDAMw32hmQAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgCCVe5NrrrTksDsNZVNrtdOJ4LZq4Hs1qkQ8dVANQ1HjrDA2EaFSXA1KpFQcSA7aCVEfOXjRtc8M4ReAFzwh0F4AAAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgCCI07RDrrTksBs09Q4h2unE8HsuWJWDq1TIeIJ96wdfs2HsPlfuTu0qUDY05e4OBgVQtg7Tns4nEmDsGfWeDlEfIKYM487zSFoJUT816w5DnlmELaMUY0DAJLWj5qQAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgCCVe5NrrrTksDsNaubXK+dTgSzV1c2ubZOhYivBqppOHKEBcY2KkyCq1GJhIoD2UErIeIrHze65pkh9AIAtPg+mHgAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgCCqpwdDrrTksBs7jnnHK6dTgSzOY1eObROhYhLVT13+DUfwp7yZotDmwqEfVZ0tYNRIYQ9gf+8w5k0CDuh8L5DxCeIOfcnn3EIWgkRF1F+7pBnBmGzyd5xAAAVhqbMkAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgCCVe5NrrrTksDsNaubXK+dTgSzV1c2ubZOhYivBqppOHKEBcY2KkyCqzmThlAT8QmhN2glRHzl40bXPDOEGgBRJmjFhAAAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgCCK51aDrrTksBspjplh2unE8HsumARh9apEHGXXDGHX/MhbKs16g5tKhB2SqSyg1EhhC3GpOZwJg3CXiGm6RDxCWLO9DY5h6CVEPEtXI0OeWYQ9r3gcAcAVtEwIZAAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAIv+8PvE/MgbHgwMB/57vVVjYgCCVe5NrrrTksDsNaubXK+dTgSzV1c2ubZOhYivBqr5NR/CXiXa5NqmghA3KkyCqz+ThhCP+IQwJ2glRHzl40bXPDOEGgBpCydKkAAAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQDBt5diDrrTksDsV/4CDtdOJ4LZWjY8Dq1TIeJTLvI4/JoPYW+Uk3VoU4GwzbolHYwKIez1E0UdzqRB2LJ/pB0iPkHMEYwScwhaCRGveOHjkGcGYYc8d3QAAEbttl2QAAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQDBKvcmV91pSWD2mtVNrtdOJ4LZqyubXFunQsRXA9X8mg9hrxJtcm1TQYgbFSbB1atEHmGBsYNWQsRXbmx0zTNDqAcAVgrfuIQAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQBBrTyHg+60JDB71vK/9tdOJ4LZaa7f7VunQsQLlv+w/zUfwu74xufQpgJhh0jxOBgVQth7FnM5nEmDsKXP8TlEfIKYw2PF6xC0EiK+pdPCIc8MwrZ/ouoAAIL9IKiQAAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQDBKvcmV91pSWD2mtVNrtdOJ4LZqyubXFunQsRXA9X8mg9hrxJtcm1TQYgbFSbB1atEHmGBsYNWQsRXPm50zTNDqAcA9V/AnoQAAAA=" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQABb6Wog+60JDC74yufw7XTiWB25Q9eh9apEHGziTwOv+ZD2Al88g5tKhB2kqWcg1EhhB1aKutwJg3Cbrkh4RDxCWLOyhWyDkErIeKzjzk65JlB2FPrjBwAFbcMFpAAAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQDBKvcmV91pSWD2mtVNrtdOJ4LZqyubXFunQsRXPm50/TUfwl4l2uTapgJhrwbqNSpMgqtXiTzCAmMHrUTozTNDqAcAbOJII4QAAAA=" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQDBbjVFB91pSWA2wx5Rh2unE8HsrxvEHFqnQsSTTog4/JoPYYdMVXBoU4Gw1xUoOhgVQtg/P8k5nEmDsB+ulHCI+AQxR85XwSFoJUT8hJK9Q54ZhL2DxdQBADoZS6eQAAAA" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQDBKvcmV91pSWD2mtVNrtdOJ4LZqyubXFunQsRXiTa5/pqPYLepQNirgXqNCpPg6lUij7DA2EErIeIrHze65pkh1AMAzxDsVIQAAAA=" />
    <add key="/amdcpu/0/power/10/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQBB2hc+B91pSWB28zdWh2unE8Fsj34Wh9apEPEzj1kdfs2HsI0CeRzaVCDsOTm8DkaFEHbCQm6HM2kQ9polnA4RnyDmMF/ldQhaCRHPWqPqkGcGYbdeVnEAAO8ze3GQAAAA" />
    <add key="/amdcpu/0/clock/9/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQDBmsomV91pSRD26ibXa6cTwezV7k2urVMh4qtEm1x/zUew21SS4GqMCqFsoDkqkUdYYOyglRDxlY8bXfPMEOoBZvl/bYQAAAA=" />
    <add key="/amdcpu/0/power/11/values" value="H4sIAAAAAAAEACsT/3NifuQNDwaGA//1j6kxMQCByxMRB91pSWD2zmAeh2unE8FsrkW8Dq1TIeKuydwOv+ZD2EvO8Tu0qUDYtwR4HYwKIexll/gdzqRB2M0f+RwiPkHMuXaIxyFoJURcLE/ZIc8Mwv6+S8kBACgxkx6QAAAA" />
    <add key="/amdcpu/0/clock/10/values" value="H4sIAAAAAAAEAOu3+3NifuQNDwaGA//F5qsxMQDBmsomV91pSRD26ibXa6cTwezVQPHWqRDxVaJNrr/mI9htKhD2avcmV6PCJLh6lcgjLDB20EqI+MrHja55Zgj1ADrtYr2EAAAA" />
    <add key="/amdcpu/0/power/12/values" value="H4sIAAAAAAAEAOu3+3NifuQNDwaGA//F5qsxMQBB++UyB91pSWC28Odoh2unE8Fsf5s4h9apEPE3EXkOv+ZD2IJZMQ5tKhD2mdthDkaFEPayL3EOZ9Ig7B33whwiPkHMCcxJdghaCRGfYlvgkGcGYTcwpjkAAJRm3qSQAAAA" />
    <add key="/amdcpu/0/clock/11/values" value="H4sIAAAAAAAEAOu3+3NifuQNDwaGA//F5qsxMQDBmsomV91pSRD26ibXa6cTwezV7k2urVMh4qtEm1x/zUew21SS4GqMCqFsoDkqkUdYYOyglRDxlY8bXfPMEOoB9L/HMoQAAAA=" />
    <add key="/amdcpu/0/power/13/values" value="H4sIAAAAAAAEALu3+c+J+ZE3PBgYDvw/rqnGxAAET26LOOhOSwKzr+zidLh2OhHMLormdGidChGPM+Bz+DUfwt7xi9ehTQXCnmDO5WBUCGFXiPI5nEmDsDv/cztEfIKY87mM3yFoJUT82R85hzwzCHtSiqIDAJUqrV6QAAAA" />
    <add key="/amdcpu/0/clock/12/values" value="H4sIAAAAAAAEALu3+c+J+ZE3PBgYDvw/rqnGxAAEOr/LXXWnJYHZa1Y3uV47nQhmrxJtcq03PcoCY7epQNSsdm9yNSqEsiubXFUij7DA2EErIeIrHze65pkh1AMADydet3gAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAFPS/HtifuQNDwaGA/+bt6gyMQBBfoSPk+60JDBb5p2P07XTiWD2nk0+Tq1TIeLlC32cfs2HsP9M9XFqU4GwmX75OBkVQtg6zL5OZ9Ig7FVsvk4RnyDmqNkGOAWthIh33A11yjODsNfvDnMCAPgofNOQAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAFPS/HtifuQNDwaGA/+bt6gyMQAB7+QmR91pSWD2xk9NjtdOJ4LZB880ObZOhYjvONjk+Gs+hJ20q8mxTQXC9vnV5GhUCGGrMTQ7nkmDqmFqdoz4BDHnI3+rY9BKiHjIig7HPDMI28Os0xEA91m97pAAAAA=" />
    <add key="/lpc/nct6797d/voltage/2/values" value="H4sIAAAAAAAEAPt6+/iJ+ZE3PBgYDvzfwBjNxAAEX/6GOLDaXxeHsQG+oqG0JAAAAA==" />
    <add key="/lpc/nct6797d/voltage/3/values" value="H4sIAAAAAAAEAPt6+/iJ+ZE3PBgYDvzfwBjNxAAEj6pCHHSnJYHZF74HO+xdkghmR1qGOHRMTYKrETieBBdvU4Gwv/wNcVDwQqg5kIZQUyYJYUuyhDkErUSoCeVHqAEAFQtvfJAAAAA=" />
    <add key="/lpc/nct6797d/voltage/4/values" value="H4sIAAAAAAAEAONiPnFifuQNDwaGA/9n34piYgACz4dV9rrTksBss7gqe1erIywwtsBxiLgHUE2bCoKt4AVhR6VU2x9IQ4iXSULYk97W2AethLBzn1fbh/Ij2ADznJ/RhAAAAA==" />
    <add key="/lpc/nct6797d/voltage/5/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQDBk6XSdi9yNgjA2GWSSWBxvU2ydkErk+BqQvkR4gBijCi3SAAAAA==" />
    <add key="/lpc/nct6797d/voltage/6/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQBBcYagfdEFNXYYW+B4Eljc+j6/fZsKhK0Zw28fdgqiBsQOWgkRZwnjsw/lh7Af+PPaAwA8Uw3yYAAAAA==" />
    <add key="/lpc/nct6797d/voltage/7/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQDBl78hDqz218VhbADMaBuWJAAAAA==" />
    <add key="/lpc/nct6797d/voltage/8/values" value="" />
    <add key="/lpc/nct6797d/voltage/9/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQDBx+XP7HWnJYHZ6WnP7G+sKBGFsQEShDCHMAAAAA==" />
    <add key="/lpc/nct6797d/voltage/10/values" value="" />
    <add key="/lpc/nct6797d/voltage/11/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQBBWtozO91pSWB2T85zu2unE+Hs/LwkuBqB4xC2U8JTu+blvnwwNgDjMU+rVAAAAA==" />
    <add key="/lpc/nct6797d/voltage/12/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQCB9f1+e91pSWD2prn99tdOJ4LZmjH99vl5SXC2wPEkuPo2FQj7qMIEewUvhF6zhiMsMHbQSoj4EaCaUH4I2waoFwC/fs4RhAAAAA==" />
    <add key="/lpc/nct6797d/voltage/13/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQBBGJ+uve60JDDbpVvH/trpRDg7Pw8ibsShYy9wHMLOnKhr36aCYCt4IfQeSEOwyyQh7AygmqCVCPWh/BC2K1ANANa23ASQAAAA" />
    <add key="/lpc/nct6797d/voltage/14/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMQCBRedB+xc5GwRg7DLJJLD4Fd9D9kErIezLQHYoP4R98NRBewBy8GESSAAAAA==" />
    <add key="/lpc/nct6797d/temperature/0/values" value="" />
    <add key="/lpc/nct6797d/temperature/1/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMYCBhZPutCQo29Lp2ulEKNvG6SnXG24Yu0wSpsbBafmOIywwNgBIKGnPVAAAAA==" />
    <add key="/lpc/nct6797d/temperature/2/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMYCBgZPutCQoW9/p2ulEuPjasxsEYOxQfpgaQycAs5faXkgAAAA=" />
    <add key="/lpc/nct6797d/temperature/3/values" value="H4sIAAAAAAAEANPQOnFifuQNDwaGA/9rN0cxMYBBkFPRBTV2GFvgeBJEvCHYqU0FymYIcQo7BVMT4hS0EiYe6hTKD2OHOQEACUKdLGAAAAA=" />
    <add key="/lpc/nct6797d/temperature/4/values" value="" />
    <add key="/lpc/nct6797d/temperature/5/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGMCgwimuTUgYxg5amQQVr3YK5Yexa5wAAfYotDwAAAA=" />
    <add key="/lpc/nct6797d/temperature/6/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGMBgwX7daUlQdsP+3dd8+WDsMkmY+IP9QSuT4OpD+RHqAeeq8xBUAAAA" />
    <add key="/lpc/nct6797d/fan/0/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGIAg4Fiyi+60JDC74Giyy7XTiWD2LKUkl/w8iPij5iQXgeMQdtjpRJc2FQg70zPJRcELwpZnTXI5kAZhs91OcimThLCt7FJcglZC2K3yKS6h/BD2SokUFwCoTi7JkAAAAA==" />
    <add key="/lpc/nct6797d/fan/1/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGIBgg81CF91pSWB226RlLtdOJ4LZKx7PcsnPg4gvujLTReA4hP13/wyXNhUIu8J3houCF4Rtwj7D5UAahL2Tf4ZLmSSEveTtEpeglRB2xoFlLqH8ELZ+/jYXALBJ3f+QAAAA" />
    <add key="/lpc/nct6797d/fan/2/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGICgPC3ERXdaEpgt9CzY5drpRDA71yXEJT8PIv7xXbCLwHEIe1JDsEubCoTNpBTiouAFYbceCXY5kAZhF3KEuJRJQthbt4W6BK2EsAM5Q11C+SHs3cZhLgCP3bOGkAAAAA==" />
    <add key="/lpc/nct6797d/fan/3/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGIAg5UKki+60JDA77VGky7XTiWD23/ORLvl5EPGwDxEuAsch7C3mkS5tKhD2oTMRLgpeEDb7ygiXA2lQ9dMjXMokIWzunCiXoJUQ9v37US6h/BC2kkCsCwCJDNQhkAAAAA==" />
    <add key="/lpc/nct6797d/fan/4/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGIAgLCfNRXdaEpjNrpDucu10Ipgtkpjmkp8HEbeTTnMROA5hny1Jc2lTgbD701JdFLwg7F9ZaS4H0iBsyfIUlzJJCFv1XLpL0EoIu3humksoP4S9XjXDBQBjlNR0kAAAAA==" />
    <add key="/lpc/nct6797d/fan/5/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGIDg/IoIF91pSWD2bPcIl2unE8HsYIYIl/w8iPhf5QgXgeMQdktNhEubCoTdCmQreEHYDqfDXQ6kQdixveEuZZIQ9oHoSJeglRB2599Il1B+CPvVwygXABJEqcCQAAAA" />
    <add key="/lpc/nct6797d/fan/6/values" value="H4sIAAAAAAAEAHMMPHFifuQNDwaGA/9TeqKYGICgLFLORXdaEpgtpivncu10Iph9Za6sS34eRLx8hayLwHEIu8NTzqVNBcK+pCPnouAFYauckXU5kAZhz+GSdSmThLBbjsu5BK2EsD8xmLiE8kPY339FuwAAwxWvDJAAAAA=" />
    <add key="/lpc/nct6797d/control/0/values" value="H4sIAAAAAAAEAIusOHFifuQNDwaGA/99UqOYGIDgyOFgpw36paIwdih/Elj82bMwJwAaQo3IMAAAAA==" />
    <add key="/lpc/nct6797d/control/1/values" value="H4sIAAAAAAAEACuZf+LE/MgbHgwMB/4b2kUxMYDBAifdaUlg9v59M5yunU4Es3t6+pzy8yDi3772Ogkch7DnzO52Sruqxg5jl0lCxJualjgFrYSwJSWXOoXyQ9hycjucAE0EO1Z4AAAA" />
    <add key="/lpc/nct6797d/control/2/values" value="H4sIAAAAAAAEACuZf+LE/MgbHgwMB/4b2kUxMQDBkcPBThv0S0Vh7FD+JLD4s2dhTgA/pULDMAAAAA==" />
    <add key="/lpc/nct6797d/control/3/values" value="H4sIAAAAAAAEACuZf+LE/MgbHgwMB/4b2kUxMQDBkcPBThv0S0Vh7FD+JLD4s2dhTgA/pULDMAAAAA==" />
    <add key="/lpc/nct6797d/control/4/values" value="H4sIAAAAAAAEACuZf+LE/MgbHgwMB/4b2kUxMQDBkcPBThv0S0Vh7FD+JLD4s2dhTgA/pULDMAAAAA==" />
    <add key="/lpc/nct6797d/control/5/values" value="H4sIAAAAAAAEACuZf+LE/MgbHgwMB/4b2kUxMQDBkcPBThv0S0Vh7FD+JLD4s2dhTgA/pULDMAAAAA==" />
    <add key="/lpc/nct6797d/control/6/values" value="H4sIAAAAAAAEACuZf+LE/MgbHgwMB/4b2kUxMQBBWGioY1ybkDCMHbQyCSy+a2emYyg/hL11S4kjAC5I9ec8AAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAAs0+X5ifuQNDwaGA/9DVmozMQBB8DZ3R91pSWD2+lcWjtdOJ4LZoapqjq1TIeKrPxk7/poPYTPsyHFsU4GKT4pxNCqEsD+3OjmeSYOKK8U5RnyCmKN4MtExaCVEvOrEQsc8MwibXafTEQBo9pJRkAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAMuK/n5ifuQNDwaGA/+tm7SZGIAgw0vJSXdaEpjN0KDkdO10IoRtcNOxdSpUPOCr46/5UPYKV6c2FSh7gZ2TUSGUncHrdCYNyo6QcIr4BDXngplT0EqI+K0sf6c8M5g5wk4ACTb69pAAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6797d/voltage/1/values" value="H4sIAAAAAAAEAPt6+/iJ+ZE3PBgYDvzfwBjNxAAE2z/X2nPsec0NYyt4JYHFlxbU2h9IS4KrKZNEsINWQtiT3tbYh/IjxAEdwOO5YAAAAA==" />
    <add key="/lpc/nct6797d/voltage/0/values" value="H4sIAAAAAAAEAPt6+/iJ+ZE3PBgYDvzfwBjNxAAE4jfX2XPnJ4HZWjHr7e+fTgSzF0itt++YChHvm77OXuA4hF0tss6+TQXBVvCCsD9dWmt/IA0hXiYJYWsCzQxaCWGH8621D+VHqAEAn5BDY5AAAAA=" />
  </appSettings>
</configuration>